@media(max-width:732px){
    .menu-resp label {
        display: block;
    }
    .menu{
        position: absolute;
        background: #1b193bb4;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid #fff;
    }
    #btn-menu:checked ~ .menu{
        margin: 0;
    }
    #btn-menu:checked ~ .menu-resp label{
        background-color: #fff;
    }
    .menu li a{
        width: 100%;
    }
}
@media(max-width:475px){
    .header-home .titulo-home{
        font-size: 50px;
    }
    .header-home .subtitulo-home{
        font-size: 25px;
    }
}
@media(max-width:764px){
    .info-home .ordn-map{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ordn-map .mapa{
        width: 100%;
        padding: 10px;
    }
    .cont-texto{
        width: 100%;
        padding: 10px;
    }
}

    .footer-home{
           color: #c4c4c4d2;
     }
  .footerpos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .pos{
    flex:auto;
    padding: 25px;
  }
  .NAVL ul{
    list-style: none;
  }
  .NAVL ul li a{
    text-decoration: none;
    color: #686262d2;
  }
  .navfooter p{
  color: #ffffffd2;
  }
  .navfooter ul{
  text-decoration: none;
  list-style: none;
  margin-bottom: 10px;
  }
  .parrafofooter p{
    display: flex;
    color: #c4c4c4d2;
    font-size: 20px;
  }
  footer{
    box-shadow: 0px 5px 5px 5px black inset;
    background-color: #1f1f1f;
  }
  footer img{
    margin-left: 1%;
    width: 20%;
  }
  .divicion{
    margin-left: 1%;
    margin-right: 1%;
  }
  @media(max-width:380px){
    .contacto-home .titulo-contacto{
        font-size: 40px;
    }
    .footerpos{
        flex-direction: column;
    }
}